body{
    background-color: #AEB784;
    color: #41431B;
}
    
h3{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}
  

#click-button{
    background-color: #E3DBBB;
    border-radius: 10px;
    width: 200px;
    height: 70px;   
    font-size: 2rem;
    border: none;   
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

#click-button:hover{
    background-color: #F8F3E1;
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

#click-button:active{
    background-color: #E3DBBB;
    cursor: pointer;
    scale: 0.9;
    transition: all 0.1s ease-in-out;
}

#reset-button{
    background-color: #E3DBBB;
    border-radius: 10px;
    width: 150px;
    height: 70px;   
    font-size: 2rem;
    border: none;   
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

#reset-button:hover{
    background-color: #F8F3E1;
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

#reset-button:active{
    background-color: #E3DBBB;
    cursor: pointer;
    scale: 0.9;
    transition: all 0.2s ease-in-out;
}

.game-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.game-area{
    text-align: center;
}

.shop-item{
    background-color: #E3DBBB;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}